
      /*Задаём общие параметры для всей страницы: шрифт и отступы*/
  body {
    text-align: center;
    margin: 10px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }

  /* Настраиваем внешний вид поля ввода*/
  input {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }

  /*Как будет выглядеть каждый элемент нашего списка*/
  .tdItem {
    text-align: left;
    padding: 10px;
    cursor: default;
    border-radius: 7px;
  }

  /*Что произойдёт, когда мы наведём курсор на любую задачу из списка*/
  .tdItem:hover {
    background-color: lightblue;
  }
  button {
    float: left;
    padding: 10px;
    cursor: default;
    border-radius: 7px;
}
  a {
  float: left;
}
  .text-end {
  text-align: right;
}
  .button-container {
  position: absolute;
  bottom: 0;
  right: 0;
    margin-bottom: 5px;
     margin-right: 10px;
}
  .tdItem {
  position: relative;
}

#newTask {
  float: right;
}

#task {
  font-size: 19px; /* установите размер шрифта */
  /* установите отступы внутри поля */
  border: none; /* установите границу поля */
  max-width: 100%;
}
#info {
  font-size: 16px; /* установите размер шрифта */
  border: none; /* установите границу поля */
  max-width: 100%;
}

.task-style {
  font-size: 19px; /* установите размер шрифта */
   /* установите box-sizing для учета границы в высоте поля */
  max-width: 100%;
}
.dark-check-element{
  position: relative; /* установим позиционирование, чтобы передний план работал корректно */
  background-color: rgba(255, 255, 255, 0.5); /* устанавливаем полупрозрачный белый цвет фона */
  opacity: 0.5;
}
.info-style {
  font-size: 16px; /* установите размер шрифта */
  /* установите отступы внутри поля */
  border: none; /* установите границу поля */
  max-width: 100%;
}
  ul-li {
  margin-bottom: 50px; /* здесь 10px - это размер отступа */
}
  span {

  overflow: hidden;
  text-overflow: ellipsis; /* добавляет многоточие в конец текста, если он выходит за пределы блока */
}
  li {
     margin-bottom: 10px;
  background-color: white; /* цвет фона */
   /* граница с цветом #ccc и толщиной 1px */
  padding: 10px; /* отступ внутри элемента списка */
}
  .input-check {
  width: 20px;
  height: 20px;
}
  .div-height10 {
    width: 100%;
  height: 10px;
}
  .my-div {
      min-height: 130px;
      width: 100%; /* ширина равна 100% ширины родительского элемента */
    }


